{% extends "main/base.html" %}
{% load static %}

{% block title %}
    Добавьте изображение
{% endblock %}

{% block content %}
<h1>Добавить изображения для {{ product.title }}</h1>
<div class="container">
    <h2>Добавить изображения для {{ product.title }}</h2>
    <form action="." class="form-control" method="post" enctype="multipart/form-data">
        {{ formset }}
        {{ formset.management_form }}
        {% csrf_token %}
        <input type="submit" value="Save modules">
    </form>
</div>
{% endblock %}